<h2>Home</h2>


	<h1>Press any of these:</h1>
	
	<div class="circle" id="1">
		<p>hi</p>
	</div>
	<p>We just made a strawberry pie with blueberries!</p>

	<div class="circle" id="2">
		<p>I'm here</p>
		</div>

	<div class="circle" id="3">
		<a href="https://esia.gosuslugi.ru/profile/user/person.xhtml">nothingness</a>
	</div>

	<div class="circle" id="3">
		<p></p>
	</div>

	<div class="circle" id="3">
		<p></p>
	</div>

